.form {
  &__input {
    @include formField;

    &:hover {
      border: 1px solid $color-input-border-hover;
    }

    &:focus {
      border: 1px solid $main-text-color;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $color-light-background inset;
    }
  }

  &__textarea {
    @include formField;

    height: 120px;
    resize: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $color-light-background inset;
    }
  }

  &__submit {
    width: 100%;
    margin-top: 16px;

    @include primaryButton;
    cursor: pointer;
  }
}
