.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: 0.3s;

  @include hover(transform, scale(1.2));

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../img/icons/icon-phone.svg);

    &:hover::after {
      content: "+1 234 555-55-55";
      font-size: 12px;
      font-weight: 700;
      color: #000;
      position: absolute;
      width: max-content;
      transform: translateX(calc(-100% - 10px)) translateY(-50%);
      left: 0;
      top: 50%;
    }
  }

  &--menu {
    background-image: url(../img/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../img/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../img/icons/icon-close.svg);
  }
}
